DB_ADDRESS: "db" # этот параметр не меняется, т.к. такое имя у контейнера с postgres
REDIS_OM_URL: "redis://@redis-cache:6379" # этот параметр не меняется, т.к. такое имя у контейнера с redis

#параметры ниже должны совпадать с соответствующими в .pg.env
DB_USER: "postgres"
DB_PASSWORD: "password"
DB_NAME: "mydb"
